<VirtualHost *:{{ apache_port }}>
    ServerName '{{ server_name }}'
    ServerAlias '{{ server_name }}'
    DocumentRoot '{{ apache_doc_root }}'
    ErrorLog '{{ apache_log_folder }}/error.log'
    CustomLog '{{ apache_log_folder }}/access.log'
</VirtualHost>